.container {

margin: 0 auto;
width: 50%;
}
input {
  width: 80%;
  border-radius: 3px;
  height: 30px;
}
button{
  width: 20%;
  background-color: #006eff;
  color: white
}
form {
  display: flex;
  width: 100%;
  
}
.is-error {
  color: red;
  display: flex;
  flex-wrap: wrap;
}
.dealbtn {
  cursor: pointer;
  width: 2px;
  padding-left: 1px;
  background-color: white;
  border-radius: 10px;
  color: black;
  
  
}
.fottercont{
  display: flex;
 flex-wrap: wrap;
 width: auto;
 
 
}
.todos {
  width: auto;
  margin-left: 20px;
  border : 2px solid rgb(51, 0, 255);
  border-radius: 5px;
  background-color: #006eff;
  color: white
}
